.header {
  background-color: #fff; /* Đổi màu nền thành màu trắng */
}

.brand {
  color: #00a651;
  font-size: 34px;
  font-weight: 600;
}

.nav-menu {
  font-size: 19px;
  padding: 0 10px;
  display: inline-flex;
  align-items: center;
  list-style-type: none;
}

.nav-menu .nav-link {
  position: relative;
  transition: color 0.3s ease;
}

.nav-menu .nav-link:before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #00a651;
  transition: width 0.3s ease;
}

.nav-menu .nav-link:hover:before {
  width: 100%;
}

.nav-search .nav-link i {
  border: 2px solid white;
  border-radius: 50%;
  padding: 8px;
  transition: background-color 0.3s ease;
}

.nav-search .nav-link i:hover {
  background-color: #00a651;
  color: white;
}

.nav-theme .nav-link i {
  transition: background-color 0.3s ease;
}

.nav-theme .nav-link i:hover {
  background-color: #00a651;
  color: white;
}

.nav-icons {
  display: inline-flex;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-left: 10px;
}
/*slider*/
#carousel .carousel-item img {
  width: 1519px;
  height: 650px;
  background: rgba(0, 0, 0, 0.5) no-repeat center;
  background-size: cover;
  position: relative;
  object-fit: cover;
}
#carousel .carousel-item:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

#carousel .carousel-indicators button {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #333;
  border: none;
  margin: 0 5px;
}

#carousel .carousel-indicators .active {
  background-color: #00a651;
}

.slider-infor .container .carousel-caption {
  max-width: 700px;
}

.slider-infor .container .carousel-caption {
  z-index: 2;
}

.carousel-caption h5 {
  font-size: 66px;
  line-height: 76px;
  font-weight: 700;
  color: #fff;
  text-transform: capitalize;
}

.carousel-caption p {
  color: #fff;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 30px;
  opacity: 0.9;
}

.btn-read {
  border: none;
  padding: 12px 35px;
  font-size: 18px;
  line-height: 28px;
  text-transform: capitalize;
  font-weight: 400;
  transition: 0.3s ease-in;
  border-radius: 5px;
  background-color: #fff;
  color: #00a651;
  text-decoration: none;
}

.btn-about {
  background-color: transparent;
  border: 1px solid #fff;
  padding: 12px 35px;
  font-size: 18px;
  line-height: 28px;
  text-transform: capitalize;
  font-weight: 400;
  transition: 0.3s ease-in;
  border-radius: 5px;
  color: #fff;
  text-decoration: none;
}

.btn-about:hover {
  background-color: #fff;
  border: none;
  color: #00a651;
}
